RewriteEngine on

RewriteCond %{REQUEST_URI} ^/(.*)/$
RewriteRule (.*) /%1 [L,R=301/QSA]

RewriteRule ^([a-zA-Z0-9\-\_\/]+)$ %{DOCUMENT_ROOT}/index.php?uf=$1 [L,QSA]

<Files config.conf>
deny from all
</Files>