<?php
        switch($user[db::USERS_RANK]) {
            case '5' : $vip = '<font color="red"><b>{T_PF_RANK_5}</b></font>'; break;
            case '4' : $vip = '<font color="green"><b>{T_PF_RANK_4}</b></font>'; break;
            case '3' : $vip = '<font color="blue"><b>{T_PF_RANK_3}</b></font>'; break;
            case '2' : $vip = '<b>{T_PF_RANK_2}</b>'; break;
            case '1' : $vip = '<b>{T_PF_RANK_1}</b>'; break;
            case '0' : $vip = '<b>{T_PF_RANK_0}</b>'; break;
        }

        $servers = $db->uQuery(db::VIEWS, db::SERVERS, Array(db::SERVERS_OWNER => UID, db::SERVERS_LOCK => '0'));
        $credit_peer_day = 0;
        while($lnk = $db->q(db::FETCH_ARRAY, $servers)) {
            switch($lnk[db::SERVERS_TYPE]) {
                case Server::SAMP : $credit_peer_day += $lnk[db::SERVERS_SLOTS] * COST_SAMP / 50 / 30;
            }
        }
        $credit_peer_day = Round($credit_peer_day, 3);
    ?>

<div id="content" class="clearfix">
    <div id="side-content-left">
        <table>
            <thead>
                <tr>
                    <th colspan="2">Udaje</th>
                </tr>
            </thead>
            
            {if $test == 'lol'}
            <p>lolll</p>
            {/if}
            
            <tbody>
                <tr>
                    <td class="backcolor tleft" width="100">ID:</td>
                    <td>{UID}</td>
                </tr>
                <tr>
                    <td class="backcolor tleft">Login:</td>
                    <td>{LOGIN}</td>
                </tr>
                <tr>
                    <td class="backcolor tleft">Rank:</td>
                    <td><?php echo $vip; ?></td>
                </tr>
                <tr>
                    <td class="backcolor tleft">Kredit:</td>
                    <td>{CREDIT}</td>
                </tr>
                <tr>
                    <td class="backcolor tleft">Denna spotreba:</td>
                    <td><?php echo $credit_peer_day ?></td>
                </tr>
                <tr>
                    <td class="backcolor tleft">IP:</td>
                    <td>{DB_UIP}</td>
                </tr>
                <tr>
                    <td class="backcolor tleft">Last login:</td>
                    <td>{LAST_LOGIN}</td>
                </tr>
            </tbody>
        </table>
        <h3>Informacie</h3>
        <div class="body-con">
            <p><strong>Vas ucet</strong> nejake picoviny o ucte</p>
            <p>The <strong>Twitter widget</strong> is ready for work. Enter your Twitter's app credentials and update your status right away.</p>
        </div>
    </div>
    
    
    <div id="main-content-right">
        <h2>Profil</h2>
        <form action="" method="post" enctype="multipart/form-data">                                
            <fieldset>
                <legend>Zakaznicke udaje</legend>
                <ul class="align-list">
                    <li>
                        <label for="firstname">Meno</label>

                        <input type="text" id="firstname" name="firstname" value="{FIRSTNAME}" />
                        <span class="msg-form-info">Iba pismena!</span>
                    </li>
                    <li>
                        <label for="lastname">Priezvisko</label>

                        <input type="text" id="lastname" name="lastname" value="{LASTNAME}" />
                        <span class="msg-form-info">Iba pismena!</span>
                    </li>
                    <li>
                        <label for="email">E-mail</label>
                        <input type="text" id="email" name="email" value="{EMAIL}" disabled/>
                    </li>
                    <li>
                        <label for="address">Adresa</label>
                        <input type="text" id="address" name="address" value="{ADDRESS}" />
                    </li>
                    <li>
                        <label for="language">Jazyk</label>
                        <select id="language" name="language" />
                        
                        <?php
                            $msg = array();
                            foreach(Lang::$avaiable_language AS $param => $value) {
                                if($param == $user[db::USERS_LANGUAGE]) $msg[] = '<option value="'.$param.'" selected>'.$value.'</option>';
                                else $msg[] = '<option value="'.$param.'">'.$value.'</option>';
                            }
                            echo implode('', $msg);
                        ?>
                        </select>
                    </li>
                    <li>
                        <label for="city">Mesto</label>
                        <input type="text" id="city" name="city" value="{CITY}" />
                    </li>
                    <li>
                        <label for="postcode">PSC</label>
                        <input type="text" id="postcode" name="postcode" value="{POSTCODE}"/>
                    </li>
                    <li>
                        <label for="telephone">Telefonne cislo</label>
                        <input type="text" id="telephone" name="telephone" value="{TEL}" />
                        <span class="msg-form-info">Piste vo formate +421 xxxxxxxxx</span>
                    </li>
                    <li>
                        <label for="website">Web</label>
                        <input type="text" id="website" name="website" value="{WEBSITE}" />
                    </li>
                    <li>
                        <label></label>
                        <input type="submit" name="save" value="Ulozit"/>
                    </li>
                </ul>
            </fieldset>
        </form>
        
        <form action="" method="post" enctype="multipart/form-data">                                
            <fieldset>
                <legend>Zmena hesla</legend>
                <ul class="align-list">
                    <li>
                        <label for="old_pass">Stare heslo</label>

                        <input type="password" id="old_pass" name="old_pass" />
                    </li>
                    <li>
                        <label for="password">Nove heslo</label>

                        <input type="password" id="password" name="password" />
                    </li>
                    <li>
                        <label for="retry_pass">Nove heslo (znovu)</label>
                        <input type="password" id="retry_pass" name="retry_pass" />
                    </li>
                    <li>
                        <label></label>
                        <input type="submit" name="change" value="Zmenit"/>
                    </li>
                </ul>
            </fieldset>
        </form>
        
        
    </div>
</div>
