<div id="content" class="clearfix">
    <div id="side-content-right">
        <h3>{$_SEARCH}</h3>
        <div class="body-con">
            <form action="javascript: void(0)" method="post" id="search-form" name="search-form" class="pos-rel">
                <input type="text" id="search-keyword" name="search-keyword" value="Search..." onfocus="this.value = '';" class="search" />
                <input type="submit" value="Go" id="search-btn" name="search-btn" class="grey search" />
            </form>
        </div>
        <ul id="tabs-news" class="content-tabs clearfix">
            <li class="active"><a href="#s-updates">{$_UPDATES}</a></li>
            <li><a href="#s-notifications">{$_NOTIFICATIONS}</a></li>
        </ul>
        <div class="body-con">
            <div id="s-updates">
                {foreach $updates as $val :}
                    <div class="msg-{$val->value} enable-close"><h6>{$date->getDate($val->date)} {$date->getTime($val->date)}</h6>{$val->message}</div>
                {/foreach}
            </div>
            <div id="s-notifications"> 
                {foreach $notifications as $val :}
                    <div class="msg-{$val->value} enable-close"><h6>{$date->getDate($val->date)} {$date->getTime($val->date)}</h6>{$val->message}</div>
                {/foreach}
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th colspan="2">{$_STATS}</th>
                </tr>
            </thead>
                        <tbody>
                <tr>
                    <td class="backcolor tleft">{$_STATS_USERS}</td>
                    <td class="tright tbold">{$db->tables('users')->num_rows()}</td>
                </tr>
                <tr>
                    <td class="backcolor tleft">{$_STATS_CREDIT}</td>
                    <td class="tright">{$db->tables('users')->select('ROUND(SUM(`credit`), 4) AS allcr')->fetch()->allcr}
                    </td>
                </tr>
                <tr>
                    <td class="backcolor tleft">{$_STATS_VIEWS_BANNERS}</td>
                    <td class="tright">{$db->tables('banners')->num_rows()}</td>
                </tr>
                <tr>
                    <td class="backcolor tcenter tbold" colspan="2">{$_STATS_SERVERS}</td>
                </tr>
                <tr>
                    <td class="backcolor tleft">SA:MP</td>
                    <td class="tright">{$db->tables('servers')->where('type', 'SAMP')->num_rows()}</td>
                </tr>
                <tr>
                    <td class="backcolor tleft">CS 1.6</td>
                    <td class="tright">{$db->tables('servers')->where('type', 'CS16')->num_rows()}</td>
                </tr>
                <tr>
                    <td class="backcolor tleft">CS Source</td>
                    <td class="tright">{$db->tables('servers')->where('type', 'CSS')->num_rows()}</td>
                </tr>
                <tr>
                    <td class="backcolor tleft">Ventrilo</td>
                    <td class="tright">{$db->tables('servers')->where('type', 'VNT')->num_rows()}</td>
                </tr>
                <tr>
                    <td class="backcolor tleft">MTA</td>
                    <td class="tright">{$db->tables('servers')->where('type', 'MTA')->num_rows()}</td>
                </tr>
                <tr>
                    <td class="backcolor tleft">Shoutcast</td>
                    <td class="tright">{$db->tables('servers')->where('type', 'SHC')->num_rows()}</td>
                </tr>


            </tbody>

        </table>
    </div>
    
    <div id="main-content-left">
        <h2>{$_WELCOME} {$user->username}</h2>                            
        <div class="body-con tcenter">{$_WELCOME_DESC}</div>
        <h2>{$_NEWS}</h2>
        <div class="body-con">
            {foreach $news as $val :}
                <fieldset>
                    <legend>{$val->title}</legend>
                    <p>{$val->message}</p>
                    <h6>{$_AUTHOR} {$db->tables('users')->where('id', $val->UID)->fetch()->username} | {$_DAY} {$date::getDate($val->date)} | {$_TIME} {$date::getTime($val->date)}</h6>
                </fieldset>
            {/foreach}
        </div>                      
    </div>
</div>