<div id="container">
    <div id="adminbar-outer" class="radius-bottom">
        <div id="adminbar" class="radius-bottom">
            <a href="/" id="logo"></a>
        </div>
    </div>
    
    <div id="panel-outer" class="radius">
        <div id="panel" class="radius">
    
            <div id="content" class="clearfix">
                <div id="side-content-left">

                    <h3>Pomoc</h3>
                    <div class="body-con">Ak sa Vam obnovenie hesla nepodarilo, kontaktujte technicku podporu!</div>
                </div>


                <div id="main-content-right">
                    <h2>Obnovenie hesla</h2>
                    {$message}
                </div>
            </div>

            <div id="footer" class="radius-bottom">{$__COPYRIGHT}</div>
        </div>
    </div>
</div>
<div class="push"></div>