<div id="container">
    <div id="adminbar-outer" class="radius-bottom">
        <div id="adminbar" class="radius-bottom">
            <a href="/" id="logo"></a>
        </div>
    </div>
    
    <div id="panel-outer" class="radius">
        <div id="panel" class="radius">
    
            <div id="content" class="clearfix">
                <div id="side-content-left">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">{$_STATISTIC}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="backcolor tleft" width="100">{$_REGISTRED}</td>
                                <td>{$registred}</td>
                            </tr>
                            <tr>
                                <td class="backcolor tleft" width="100">{$_HOST_SERVERS}</td>
                                <td>{$hosted}</td>
                            </tr>
                            <tr>
                                <td class="backcolor tleft" width="100">{$_SPONSORED_SERVERS}</td>
                                <td>{$sponsored}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h3>{$_MENU2}</h3>
                    <div class="body-con">{$_MENU2_CONTENT}</div>
                </div>


                <div id="main-content-right">
                    <h2>{$_REGISTRATION}</h2>
                    <div id="AjaxDialogError"></div>
                    <form action="{$form['action']}" method="{$form['method']}" enctype="multipart/form-data">                                
                        <fieldset>
                            <legend>{$_REGISTRATION_FORM}</legend>
                            <ul class="align-list">
                                <li>
                                    <label for="login">{$_LOGIN}</label>

                                    <input type="{$form['login']['type']}" id="login" name="{$form['login']['name']}" value="" />
                                    <span class="msg-form-error" id="AJAXMessage"></span>
                                </li>
                                <li>
                                    <label for="firstname">{$_FIRSTNAME}</label>

                                    <input type="{$form['firstname']['type']}" id="firstname" name="{$form['firstname']['name']}" value="" />
                                    <span class="msg-form-error" id="AJAXMessage"></span>
                                </li>
                                <li>
                                    <label for="lastname">{$_LASTNAME}</label>

                                    <input type="{$form['lastname']['type']}" id="lastname" name="{$form['lastname']['name']}" value="" />
                                    <span class="msg-form-error" id="AJAXMessage"></span>
                                </li>
                                <li>
                                    <label for="email">{$_EMAIL}</label>
                                    <input type="{$form['email']['type']}" id="email" name="{$form['email']['name']}" value="" />
                                    <span class="msg-form-error" id="AJAXMessage"></span>
                                </li>
                                <li>
                                    <label for="email2">{$_EMAIL2}</label>
                                    <input type="{$form['email2']['type']}" id="email2" name="{$form['email2']['name']}" value="" />
                                    <span class="msg-form-error" id="AJAXMessage"></span>
                                </li>
                                <li>
                                    <label for="password">{$_PASSWORD}</label>
                                    <input type="{$form['password']['type']}" id="password" name="{$form['password']['name']}" value="" />
                                    <span class="msg-form-error" id="AJAXMessage"></span>
                                </li>
                                <li>
                                    <label for="password2">{$_PASSWORD2}</label>
                                    <input type="{$form['password2']['type']}" id="password2" name="{$form['password2']['name']}" value="" />
                                    <span class="msg-form-error" id="AJAXMessage"></span>
                                </li>
                                <li>
                                    <label for="street">{$_STREET}</label>
                                    <input type="{$form['street']['type']}" id="street" name="{$form['street']['name']}" value="" />
                                    <span class="msg-form-error" id="AJAXMessage"></span>
                                </li>
                                <li>
                                    <label for="language">{$_LANG_COUNTRY}</label>
                                    <select id="language" name="{$form['language']['name']}">{$form['language']['value']}</select>
                                </li>
                                <li>
                                    <label for="city">{$_CITY}</label>
                                    <input type="{$form['city']['type']}" id="city" name="{$form['city']['name']}" value="" />
                                    <span class="msg-form-error" id="AJAXMessage"></span>
                                </li>
                                <li>
                                    <label for="postcode">{$_POSTCODE}</label>
                                    <input type="{$form['postcode']['type']}" id="postcode" name="{$form['postcode']['name']}" value="" />
                                    <span class="msg-form-error" id="AJAXMessage"></span>
                                </li>
                                <li>
                                    <label for="telephone">{$_MOBILE}</label>
                                    <input type="{$form['telephone']['type']}" id="telephone" name="{$form['telephone']['name']}" value="" />
                                    <span class="msg-form-error" id="AJAXMessage"></span>
                                </li>
                                <li>
                                    <label for="website">{$_WEBSITE}</label>
                                    <input type="{$form['website']['type']}" id="website" name="{$form['website']['name']}" value="" />
                                    <span class="msg-form-error" id="AJAXMessage"></span>
                                </li>
                                <li>
                                    <label></label>
                                    <input type="{$form['save']['type']}" name="{$form['save']['name']}" value="{$form['save']['value']}" />
                                    <span class="msg-form-error" id="AJAXMessage"></span>
                                </li>
                            </ul>
                        </fieldset>
                    </form>       

                </div>
            </div>

            <div id="footer" class="radius-bottom">{$__COPYRIGHT}</div>
        </div>
    </div>
</div>
<div class="push"></div>