<div id="content" class="clearfix">
    <div id="side-content-left">
        <h3>Nejaky nadpis</h3>
        <div class="body-con">Nejaky text</div>
    </div>
    
    
    <div id="main-content-right">
        <h2>omg</h2>
        <form action="{$form['action']}" method="{$form['method']}" enctype="multipart/form-data">                                
            <fieldset>
                <legend>test</legend>
                <ul class="align-list">
                    <li>
                        <label for="firstname">lol</label>

                        <input type="{$form['firstname']['type']}" id="firstname" name="{$form['firstname']['name']}" value="{$form['firstname']['value']}" />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                    <li>
                        <label for="lastname">Priezvisko</label>

                        <input type="{$form['lastname']['type']}" id="lastname" name="{$form['lastname']['name']}" value="{$form['lastname']['value']}" />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                    <li>
                        <label for="email">E-mail</label>
                        <input type="{$form['email']['type']}" id="email" name="{$form['email']['name']}" value="{$form['email']['value']}" disabled />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                    <li>
                        <label for="street">Ulica</label>
                        <input type="{$form['street']['type']}" id="street" name="{$form['street']['name']}" value="{$form['street']['value']}" />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                    <li>
                        <label for="language">Jazyk/Stat</label>
                        <select id="language" name="{$form['language']['name']}">{$form['language']['value']}</select>
                    </li>
                    <li>
                        <label for="city">Mesto</label>
                        <input type="{$form['city']['type']}" id="city" name="{$form['city']['name']}" value="{$form['city']['value']}" />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                    <li>
                        <label for="postcode">PSC</label>
                        <input type="{$form['postcode']['type']}" id="postcode" name="{$form['postcode']['name']}" value="{$form['postcode']['value']}"/>
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                    <li>
                        <label for="telephone">Telefonne cislo</label>
                        <input type="{$form['telephone']['type']}" id="telephone" name="{$form['telephone']['name']}" value="{$form['telephone']['value']}" />
                        <span class="msg-form-error"></span>
                    </li>
                    <li>
                        <label for="website">Web</label>
                        <input type="{$form['website']['type']}" id="website" name="{$form['website']['name']}" value="{$form['website']['value']}" />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                    <li>
                        <label></label>
                        <input type="{$form['save']['type']}" name="{$form['save']['name']}" value="{$form['save']['value']}"/>
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                </ul>
            </fieldset>
        </form>
        
    </div>
</div>
