<div id="content" class="clearfix">
    <div id="side-content-left">
        <h3>{$_HEADER}</h3>
        <div class="body-con">Nejaky text</div>
    </div>

    <div id="main-content-right">
        <h2>Server info</h2>       
        <form action="{$control['action']}" method="{$control['method']}" enctype="multipart/form-data">                                
            <fieldset>
                <legend>Ovladanie servera</legend>
                <ul class="align-list">
                    <li>
                        <label></label>
                        <input type="hidden" name="control" value="" />
                        <input type="{$control['start']['type']}" name="{$control['start']['name']}" value="{$control['start']['value']}" class="green" onclick="$('input:hidden[name=control]').val('start');" />
                        <input type="{$control['restart']['type']}" name="{$control['restart']['name']}" value="{$control['restart']['value']}" class="" onclick="$('input:hidden[name=control]').val('restart');" />
                        <input type="{$control['stop']['type']}" name="{$control['stop']['name']}" value="{$control['stop']['value']}" class="red"  onclick="$('input:hidden[name=control]').val('stop');" />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                </ul>
            </fieldset>
        </form>
        
        <form>                                
            <fieldset>
                <legend>Server status</legend>
                <img id="status" src="http://www.yucat.net/Generator.php?type=1&ip={$ip}&port={$port}" alt="server status" />
            </fieldset>
        </form>
        <script>
            function afterLoad() {
                $("#status").attr("src", "http://www.yucat.net/Generator.php?type=1&ip={$ip}&port={$port}&rand=" + Math.random());
            }
    
            
        </script>
            
        
        <form action="{$form['action']}" method="{$form['method']}" enctype="multipart/form-data">                                
            <fieldset>
                <legend>Informace</legend>
                <ul class="align-list">
                    <li>
                        <label for="id">ID</label>

                        <input type="{$form['id']['type']}" id="id" name="{$form['id']['name']}" value="{$form['id']['value']}" disabled />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                    <li>
                        <label for="mname">Stroj</label>
                        <input type="{$form['mname']['type']}" id="mname" name="{$form['mname']['name']}" value="{$form['mname']['value']}" disabled />
                        <span class="msg-form-error"></span>
                    </li>
                    <li>
                        <label for="name">Typ servera</label>
                        <input type="{$form['name']['type']}" id="name" name="{$form['name']['name']}" value="{$form['name']['value']}" disabled />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                    <li>
                        <label for="port">Port</label>

                        <input type="{$form['port']['type']}" id="port" name="{$form['port']['name']}" value="{$form['port']['value']}" disabled />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                    <li>
                        <label for="slots">Pocet slotov</label>
                        <input type="{$form['slots']['type']}" id="slots" name="{$form['slots']['name']}" value="{$form['slots']['value']}" disabled />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                    <li>
                        <label for="autorun">Auto nahadzovac</label>
                        <input type="{$form['autorun']['type']}" id="autorun" name="{$form['autorun']['name']}" value="{$form['autorun']['value']}" disabled />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                    <li>
                        <label for="cost">Cena za mesic</label>
                        <input type="{$form['cost']['type']}" id="cost" name="{$form['cost']['name']}" value="{$form['cost']['value']}" disabled />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                    <li>
                        <label for="stop">Pozastavit server?</label>
                        <input type="{$form['stop']['type']}" id="stop" name="{$form['stop']['name']}" {$form['stop']['value']} />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                    <li>
                        <label></label>
                        <input type="{$form['save']['type']}" name="{$form['save']['name']}" value="{$form['save']['value']}" />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                </ul>
            </fieldset>
        </form>
        
        
        
        <form action="{$ftp['action']}" method="{$ftp['method']}" enctype="multipart/form-data">                                
            <fieldset>
                <legend>FTP udaje</legend>
                <ul class="align-list">
                    <li>
                        <label for="id">ID</label>
                        <input type="{$ftp['id']['type']}" id="id" name="{$ftp['id']['name']}" value="{$ftp['id']['value']}" disabled />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                    <li>
                        <label for="host">Host</label>
                        <input type="{$ftp['host']['type']}" id="host" name="{$ftp['host']['name']}" value="{$ftp['host']['value']}" disabled />
                        <span class="msg-form-error"></span>
                    </li>
                    <li>
                        <label for="port">Port</label>
                        <input type="{$ftp['port']['type']}" id="port" name="{$ftp['port']['name']}" value="{$ftp['port']['value']}" disabled />
                        <span class="msg-form-error"></span>
                    </li>
                    <li>
                        <label for="login">Login</label>
                        <input type="{$ftp['login']['type']}" id="login" name="{$ftp['login']['name']}" value="{$ftp['login']['value']}" disabled />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                    <li>
                        <label for="password">Heslo</label>
                        <input type="{$ftp['password']['type']}" id="password" name="{$ftp['password']['name']}" value="{$ftp['password']['value']}" />
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                    <li>
                        <label></label>
                        <input type="{$ftp['save']['type']}" name="{$ftp['save']['name']}" value="{$ftp['save']['value']}"/>
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                </ul>
            </fieldset>
        </form>             
    </div>
</div>