<div id="content" class="clearfix">
    <div id="side-content-left">
        <h3>Info</h3>
        <div class="body-con">Dake keci</div>
    </div>
    
    
    <div id="main-content-right">
        <h2>Objednat server</h2>
        
        
        <form action="{$form['action']}" method="{$form['method']}" enctype="multipart/form-data">                                
            <fieldset>
                <legend>lol</legend>
                <ul class="align-list">
                    <li>
                        <label for="1">server</label>
                        <select id="1" name="{$form['servers']['name']}">{$form['servers']['value']}</select>
                    </li>
                    <li>
                        <label for="2">sloty</label>
                        <select id="2" name="{$form['slots']['name']}">{$form['slots']['value']}</select>
                    </li>
                </ul>
            </fieldset>
        </form>
                
    </div>
</div>
