<div id="content" class="clearfix">
    <div id="side-content-left">
        <h3>Info</h3>
        <div class="body-con">Dake keci</div>
    </div>
    
    
    <div id="main-content-right">
        <h2>Kupit kredit</h2>
        <div class="msg-alert"><h4>POZOR!!</h4>Nizsie pouzite udaje niesu prave tak na ne prosim neplate ziadne peniaze!</div>
        
         <table>
            <thead>
                <tr>
                    <th colspan="4">Cesko</th>
                </tr>
                <tr>
                    <th colspan="4">SMS</th>
                </tr>
                <tr>
                    <th class="tleft">Cislo</th>
                    <th class="tleft">Sprava</th>
                    <th class="tleft">Zaplatite</th>
                    <th class="tleft">Dostanete</th>
                </tr>
            </thead>

                <tr>
                    <td class="tbold tleft">6451215</td>
                    <td class="tleft">GSHOST 1234</td>
                    <td class="tleft">99 KC</td>
                    <td class="tleft">1,5 L$</td>
                </tr>
                <tr>
                    <td class="tbold tleft">6451215</td>
                    <td class="tleft">GSHOST 1234</td>
                    <td class="tleft">99 KC</td>
                    <td class="tleft">1,5 L$</td>
                </tr>
                <tr>
                    <td class="tbold tleft">6451215</td>
                    <td class="tleft">GSHOST 1234</td>
                    <td class="tleft">99 KC</td>
                    <td class="tleft">1,5 L$</td>
                </tr>
                <tr>
                    <td class="tbold tleft">6451215</td>
                    <td class="tleft">GSHOST 1234</td>
                    <td class="tleft">99 KC</td>
                    <td class="tleft">1,5 L$</td>
                </tr>
                <tr>
                    <td class="tbold tleft">6451215</td>
                    <td class="tleft">GSHOST 1234</td>
                    <td class="tleft">99 KC</td>
                    <td class="tleft">1,5 L$</td>
                </tr>
                
                <tr>
                    <th colspan="4">Bankovy prevod</th>
                </tr>
                <tr>
                    <td class="tbold tleft" colspan="2">456456445645/4584</td>
                    <td class="tleft" colspan="2">VS: 12345</td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th colspan="4">Slovensko</th>
                </tr>
                <tr>
                    <th colspan="4">SMS</th>
                </tr>
                <tr>
                    <th class="tleft">Cislo</th>
                    <th class="tleft">Sprava</th>
                    <th class="tleft">Zaplatite</th>
                    <th class="tleft">Dostanete</th>
                </tr>
            </thead>

                <tr>
                    <td class="tbold tleft">6451215</td>
                    <td class="tleft">GSHOST 1234</td>
                    <td class="tleft">99 KC</td>
                    <td class="tleft">1,5 L$</td>
                </tr>
                <tr>
                    <td class="tbold tleft">6451215</td>
                    <td class="tleft">GSHOST 1234</td>
                    <td class="tleft">99 KC</td>
                    <td class="tleft">1,5 L$</td>
                </tr>
                <tr>
                    <td class="tbold tleft">6451215</td>
                    <td class="tleft">GSHOST 1234</td>
                    <td class="tleft">99 KC</td>
                    <td class="tleft">1,5 L$</td>
                </tr>
                <tr>
                    <td class="tbold tleft">6451215</td>
                    <td class="tleft">GSHOST 1234</td>
                    <td class="tleft">99 KC</td>
                    <td class="tleft">1,5 L$</td>
                </tr>
                <tr>
                    <td class="tbold tleft">6451215</td>
                    <td class="tleft">GSHOST 1234</td>
                    <td class="tleft">99 KC</td>
                    <td class="tleft">1,5 L$</td>
                </tr>
                
                <tr>
                    <th colspan="4">Bankovy prevod</th>
                </tr>
                <tr>
                    <td class="tbold tleft" colspan="2">456456445645/4584</td>
                    <td class="tleft" colspan="2">VS: 12345</td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>
