<div id="content" class="clearfix">
    <div id="side-content-left">
        <h3>Info</h3>
        <div class="body-con">Dake keci</div>
    </div>
    
    
    <div id="main-content-right">
        <h2>Objednat server</h2>
        <div id="AjaxDialogError"></div>
        
        <form action="{$form['action']}" method="{$form['method']}" enctype="multipart/form-data">                                
            <fieldset>
                <legend>Objednavka</legend>
                {if $serversCount :}
                <ul class="align-list">
                    <li>
                        <label for="1">server</label>
                        <select id="1" name="{$form['servers']['name']}">{$form['servers']['value']}</select>
                    </li>
                    <li>
                        <label for="2">sloty</label>
                        <select id="2" name="{$form['slots']['name']}">{$form['slots']['value']}</select>
                    </li>
                    <li>
                        <label></label>
                        <input type="{$form['order']['type']}" name="{$form['order']['name']}" value="{$form['order']['value']}"/>
                        <span class="msg-form-error" id="AJAXMessage"></span>
                    </li>
                </ul>
                {else}
                    <div class="msg-alert"><h4>Pozor!</h4>Neda sa objednat ziadny server!</div>
                {/if}
            </fieldset>
        </form>
                
    </div>
</div>
